<p class="flex h-10 items-center justify-center bg-indigo-600 px-4 text-sm font-medium text-white sm:px-6 lg:px-8">Get free delivery on orders over $100</p>
<!-- Mobile Menu (Hidden by default on larger screens) -->
<nav class="bg-blue-500 p-4 md:hidden">
    <div class="flex justify-between items-center">
        <%# <span class="text-2xl text-white font-semibold">Your Logo</span> %>
        <%= image_tag ("/assets/logo.png"), alt: "RoomMateCharacter", class: "h-8 w-auto" %>
        <button id="menu-toggle" class="text-white text-2xl">
            ☰
        </button>
    </div>

    <!-- Mobile menu items -->
    <div id="mobile-menu" class="hidden mt-4">
        <a href="#" class="block text-white font-medium py-2 tomato">Home</a>
        <a href="#" class="block text-white font-medium py-2">About</a>
        <a href="#" class="block text-white font-medium py-2">Services</a>
        <a href="#" class="block text-white font-medium py-2">Contact</a>
    </div>
</nav>

<!-- Desktop Menu (Hidden by default on smaller screens) -->
<nav class="p-4 hidden md:flex md:justify-start">
    <a href="#" class="font-medium mx-4 text-[#50d71e]">Home</a>
    <a href="#" class="text-white font-medium mx-4">About</a>
    <a href="#" class="text-white font-medium mx-4">Services</a>
    <a href="#" class="text-white font-medium mx-4">Contact</a>
</nav>