.posts {
  nav a {
    color: red;
  }
}

.home_background {
  background-image: url("roommatesunsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 676px;
}