<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Plans</h1>
    <%= link_to "New plan", new_plan_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="plans" class="min-w-full">
    <div class="mt-6 border-t border-gray-100">
    <div class=" items-center justify-center mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <div class="relative overflow-x-auto">
        <section class="bg-gray-50 dark:bg-gray-900">
          <div class="w-full">
            <!-- Start coding here -->
            <div class="items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
              <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                      <th scope="col" class="px-6 py-3">
                          Plan Name
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Plan Price
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @plans %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
